{% extends "base.html" %}
{% load static %}

{% block head_extra %}<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">{% endblock %}
{% block title %}Login{% endblock %}

{% block content %}
  <main class="container mt-5">
  <h2>Entrar</h2>
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Entrar" class="btn btn-primary mt-3">
      <a class="btn btn-primary mt-3" a href="{% url 'signup' %}">Criar conta</a>
      <a class="btn btn-primary mt-3" a href="{% url 'password-recovery' %}">Esqueci minha senha</a>
    </form>
  </main>
{% endblock content %}
