{% extends "dashboard.html" %}
{% load static %}

{% block head_extra %}<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">{% endblock %}
{% block title %}Senha alterada{% endblock %}

{% block dashboard_content %}
<main class="container mt-5">
  <h2>Senha alterada</h2>
    <p>A senha foi alterada com sucesso.</p>
    <p>Se você tinha outras sessões além dessa, será necessário fazer login novamente.</p>
    <a class="btn btn-outline-secondary mt-3" a href="{% url 'dashboard' %}">Voltar à página inicial</a>
</main>
{% endblock %}
