{% extends "dashboard.html" %}
{% load static %}

{% block head_extra %}<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">{% endblock %}
{% block title %}Alterar senha{% endblock %}

{% block dashboard_content %}
<main class="container mt-5">
  <h2>Alterar senha</h2>
  <form method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Alterar" class="btn btn-primary mt-3">
    <a class="btn btn-outline-secondary mt-3" a href="{% url 'dashboard' %}">Cancelar</a>
  </form>
</main>
{% endblock %}
