{% extends "base.html" %}
{% load static %}

{% block head_extra %}<link rel="stylesheet" type="text/css" href="{% static 'css/auth.css' %}">{% endblock %}
{% block title %}Esqueci minha senha{% endblock %}

{% block content %}
<main class="container mt-5">
  <h2>Email de recuperação enviado</h2>
    <p>Se existe uma conta com o email fornecido, um email foi enviado com instruções para recuperar sua senha. Você receberá a mensagem em breve.</p>
    <p>Se você não recebeu um email, por favor certifique-se de que você forneceu o endereço que está cadastrado em sua conta e verifique sua pasta de spam.</p>
    <a class="btn btn-outline-secondary mt-3" a href="{% url 'login' %}">Voltar à página inicial</a>
</main>
{% endblock %}
