{% load static %}
<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sistema de Estoque - CTI</title>
  <link rel="icon" type="image/png" href="img/ready-stock.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  <script src="{% static 'js/login.js' %}" defer></script>
</head>

<body>

  <!-- caixa de login -->
  <div class="container">
    <div class="box">
      <h2>Entrar</h2>
      <input class="user" placeholder="usuário">
      <input class="password" placeholder="senha" type="password">

      <a href="{% url 'dashboard' %}"><button class="login" href="">LOGIN</button></a>

      <hr class="l1">
      <span>ou</span>
      <hr class="l2">

      <button class="signup">REGISTRAR-SE</button>

      <p>Esqueci minha senha</p>
    </div>

    <div class="signupbox">
      <h2>Registrar</h2>
      <input class="usersignup" placeholder="usuário">
      <input class="passwordsignup" placeholder="senha" type="password">
      <input class="passwordsignupconf" placeholder="confirmar senha" type="password">

      <button class="signupconfirm">REGISTRAR</button>

      <p class="back">Já possui conta?</p>
    </div>
  </div>
</body>

</html>