@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #350781;
    color: #333;
    overflow: hidden; /* Esconde a barra de rolagem do corpo */
}

.box {
    background-color: white;
    width: 500px; /* Largura desejada para o box */
    height: 800px; /* Altura desejada para o box */
    position: absolute;
    top: 50%; /* Posiciona o elemento a 50% da altura da tela */
    left: 70%; /* Distância de 5% do lado direito da tela */
    transform: translate(0, -50%); /* Corrige o posicionamento vertical para o centro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
}


h2{
    font-family: 'Outfit', sans-serif;
    font-weight: bolder;
    position: relative; 
    top: 80px; 
    left: 70px; 
}

input{
    font-family: 'Outfit', sans-serif;
    display: block;
    width: 70%;
    height: 7%;
    position: relative; 
    top: 150px; 
    left: 70px; 
    margin-bottom: 40px;
    border-radius: 30px;
    border: 0.5px solid black;
    outline: none;
    padding: 20px;
}

button{
    font-family: 'Outfit', sans-serif;
    font-weight: 570;
    letter-spacing: 10PX;
    width: 70%;
    position: relative;
    top: 150px; 
    left: 70px;
    height: 7%;
    border-radius: 30px;
    color: white;
    background-color: #871212;
    border: 0px;
}

.box span{
    font-family: 'Outfit', sans-serif;
    position: relative; 
    top: 150px; 
    left: 236px; 
}

.l1{
    border: none; /* Remove a borda padrão */
    height: 2px; /* Altura da linha */
    width: 130px;
    position: relative; 
    top: 180px;
    left: 280px;
    background-color: #000000; /* Cor da linha */

}

.l2{
    border: none; /* Remove a borda padrão */
    height: 2px; /* Altura da linha */
    width: 130px;
    position: relative; 
    top: 121px;
    left: 80px;
    background-color: #000000; /* Cor da linha */
}

p{
    color: #9b9898;
    font-family: 'Outfit', sans-serif;
    text-decoration: underline;
    position: relative; 
    top: 230px;
    left: 175px;
    cursor: pointer;
}


/* caixa-registrar */

.signupbox{
    display: none;
    background-color: white;
    width: 500px; /* Largura desejada para o box */
    height: 800px; /* Altura desejada para o box */
    position: absolute;
    top: 50%; /* Posiciona o elemento a 50% da altura da tela */
    left: 70%; /* Distância de 5% do lado direito da tela */
    transform: translate(0, -50%); /* Corrige o posicionamento vertical para o centro */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra suave */
    transition: right 0.5s ease-in-out;
}

.signupbox.active {
    display: block;
}
