{% load static %}

<div class="col d-flex align-items-center justify-content-end">
  <a href="/dashboard/{{ object.slug }}/{{ object.id }}/edit" class="btn btn-success btn-sm me-1" role="button">
    <img src="{% static 'img/ph--pencil-simple-fill.svg' %}" alt="Ícone de editar" style="filter: invert(100%);"/>
  </a>
  <a href="/dashboard/{{ object.slug }}/{{ object.id }}/delete" class="btn btn-danger btn-sm" role="button">
    <img src="{% static 'img/ph--trash-fill.svg' %}" alt="Ícone de deletar" style="filter: invert(100%);"/>
  </a>
  {% if object.slug == "loan" %}
  <a href="/dashboard/{{ object.slug }}/{{ object.id }}/add-item" class="btn btn-primary btn-sm ms-1" role="button">
    <img src="{% static 'img/ph--plus-bold.svg' %}" alt="Ícone de adicionar item" style="filter: invert(100%);"/>
    {% if detail %}
    <span>Adicionar item</span>
    {% endif %}
  </a>
  {% endif %}
</div>
