{% extends "list.html" %}

{% block title %}Requerentes{% endblock %}
{% block h1 %}Requerentes{% endblock %}
{% block create_button_url %}{% url 'new-claimant' %}{% endblock %}

{% block table_content %}
  <tr>
    <th>Nome</th>
    <th>Identificador</th>
    <th>Telefone</th>
    <th style="text-align: right;">Ações</th>
  </tr>
  {% for claimant in claimants %}
  <tr>
    <td><a href="{{ claimant.get_absolute_url }}">{{ claimant.name }}</a></td>
    <td>{{ claimant.identifier }}</td>
    <td>{{ claimant.phone_number }}</td>
    <td>{% include 'action_buttons.html' with object=claimant %}</td>
  </tr>
  {% endfor %}
{% endblock table_content %}
