{% extends "base.html" %}
{% load static %}

{% block title %}<title>{% block dashboard_title %}Dashboard{% endblock %} - Estoque CTI</title>{% endblock %}

{% block content %}
<nav class="nav nav-fill nav-pills">
  <a class="nav-link {% if request.path == '/dashboard/goods' %}active{% endif %}" href="{% url 'goods' %}">Bens</a>
  <a class="nav-link {% if request.path == '/dashboard/loans' %}active{% endif %}" href="{% url 'loans' %}">Empréstimos</a>
  <a class="nav-link {% if request.path == '/dashboard/suppliers' %}active{% endif %}" href="{% url 'suppliers' %}">Fornecedores</a>
  <a class="nav-link {% if request.path == '/dashboard/claimants' %}active{% endif %}" href="{% url 'claimants' %}">Requerentes</a>
</nav>

<main class="container mt-5">
{% block dashboard_header %}{% endblock %}
{% block dashboard_content %}{% endblock %}
</main>

{% endblock %}
