{% extends "base.html" %}
{% load static %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<nav class="nav nav-expand-lg nav-pills justify-content-center mt-2">
  <a class="nav-link {% if request.path == '/dashboard/goods' %}active{% endif %}" href="{% url 'goods' %}">Bens</a>
  <a class="nav-link {% if request.path == '/dashboard/loans' %}active{% endif %}" href="{% url 'loans' %}">Empréstimos</a>
  <a class="nav-link {% if request.path == '/dashboard/suppliers' %}active{% endif %}" href="{% url 'suppliers' %}">Fornecedores</a>
  <a class="nav-link {% if request.path == '/dashboard/loan-items' %}active{% endif %}" href="{% url 'loan-items' %}">Itens</a>
  <a class="nav-link {% if request.path == '/dashboard/claimants' %}active{% endif %}" href="{% url 'claimants' %}">Requerentes</a>
</nav>

<main class="container mt-5">
  {% block dashboard_content %}{% endblock %}
</main>

{% endblock content %}
