{% extends "list.html" %}
{% load static %}

{% block title %}Bens{% endblock %}
{% block create_button_url %}{% url 'new_good' %}{% endblock %}

{% block dashboard_content %}
  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Fornecedor</th>
      <th>Quantidade</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
    {% for good in goods %}
    <tr>
      <td>{{ good.name }}</td>
      <td>{{ good.supplier }}</td>
      <td>{{ good.quantity }}</td>
      <td>{{ good.status }}</td>
      <td>
        <a href="goods/{{ good.id }}/edit" class="btn btn-success btn-sm" role="button">
          <img src="{% static 'img/ph--pencil-simple-fill.svg' %}" alt="Ícone de editar" style="filter: invert(100%);"/>
        </a>
        <a href="goods/{{ good.id }}/delete" class="btn btn-danger btn-sm" role="button">
          <img src="{% static 'img/ph--trash-fill.svg' %}" alt="Ícone de deletar" style="filter: invert(100%);"/>
        </a>
      </td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
