{% extends "detail.html" %}
{% load static %}

{% block title %}{{ object }}{% endblock %}

{% block details %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <h1 class="h3">{{ object }}</h1>
    </div>
    <div class="col-2 d-inline-flex align-items-center justify-content-end">
      {% if object.permanent %}
      <span class="badge text-bg-success">Permanente</span>
      {% else %}
      <span class="badge text-bg-secondary">Consumível</span>
      {% endif %}
    </div>
  </div>
</div>
<p class="lead ms-3">{{ object.description }}</p>
<dl class="row">
  <dt class="col-sm-3">Fornecedor</dt>
  <dd class="col-sm-9"><a href="{{ object.supplier.get_absolute_url }}">{{ object.supplier }}</a></dd>
  <dt class="col-sm-3">Quantidade</dt>
  <dd class="col-sm-9">{{ object.quantity }}</dd>
  <dt class="col-sm-3">Data de aquisição</dt>
  <dd class="col-sm-9">{{ object.acquisition_date }}</dd>
</dl>
  {% if object.permanent %}
  <h2>Garantia</h2>
  <p><strong>Expiração:</strong> {{ object.warranty_expiry_date }}</p>
  <p><strong>Detalhes:</strong> {{ object.warranty_details }}</p>
  {% endif %}
{% include 'action_buttons.html' with object=object %}

{% if associated_loans %}
<h2 class="h4 mt-5">Empréstimos</h2>
<table class="table">
  <tr>
    <th>Empréstimo</th>
    <th style="text-align: right;"><span >Ações</span></th>
  </tr>
  {% for loan in associated_loans %}
  <tr>
    <td>
      <a href="{{ loan.get_absolute_url }}">
          {{ loan }}</a>
    </td>
    <td>{% include 'action_buttons.html' with object=loan %}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<em class="opacity-75">Não há empréstimos para esse bem.</em>
{% endif %}
{% endblock details %}
