{% extends "dashboard.html" %}
{% load static %}

{% block title %}Listagem{% endblock %}

{% block dashboard_content %}
{% block dashboard_header %}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>{% block h1 %}{% endblock %}</h1>
    </div>
    <div class="col d-inline-flex align-items-center justify-content-end">
      <a class="btn btn-success" href="{% block create_button_url %}{% endblock %}">Novo</a>
    </div>
  </div>
</div>
{% endblock dashboard_header %}

<table class="table">
  {% block table_content %}{% endblock table_content %}
</table>
{% endblock dashboard_content %}
