{% extends "detail.html" %}
{% load static %}

{% block title %}Empréstimo de {{ object }}{% endblock %}

{% block details %}
<div class="container">
  <div class="row">
    <div class="col-10">
      <h1 class="h3">{{ object }}</h1>
    </div>
    <div class="col-2 d-inline-flex align-items-center justify-content-end">
      <span class="badge
                   {% if object.returned_check %}
                   text-bg-success
                   {% elif object.due_check %}
                   text-bg-danger
                   {% elif object.empty_check %}
                   text-bg-secondary
                   {% else %}
                   text-bg-warning
                   {% endif %}
                   ">{{ object.get_status }}
      </span>
    </div>
  </div>
</div>
<dl class="row">
  <dt class="col-sm-4">Requerente</dt>
  <dd class="col-sm-8"><a href="{{ object.claimant.get_absolute_url }}">{{ object.claimant }}</a></dd>
  <dt class="col-sm-4">Data do empréstimo</dt>
  <dd class="col-sm-8">
    {{ object.loan_date }}
    <br/>
    <small class="opacity-75">há {{ object.loan_date | timesince }}</small>
  </dd>
  <dt class="col-sm-4">Data de devolução</dt>
  <dd class="col-sm-8">
    <span class="{% if not loan.returned_check and not loan.empty_check %}badge {% if object.due_today_check %}text-bg-warning{% elif object.due_check %}text-bg-danger{% elif object.due_next_week_check %}text-bg-secondary{% else %}text-bg-success{% endif %}{% endif %}">
      {{ object.return_date }}
    </span>
    <br/>
    <small class="opacity-75">
      {% if not object.due_check %}
        em {{ object.return_date | timeuntil }}
      {% else %}
        há {{ object.return_date | timesince }}
      {% endif %}
    </small>
  </dd>
  <dt class="col-sm-4">Última notificação</dt>
  <dd class="col-sm-8">
    <span class="{% if object.last_notification_email %}badge text-bg-secondary{% else %}opacity-75 small fw-light fst-italic{% endif %}">
      {% if object.last_notification_email %}
      {{ object.last_notification_email }}
      {% else %}
      Nenhum email de notificação enviado ainda
      {% endif %}
    </span>
  </dd>
</dl>
{% include 'action_buttons.html' with object=object detail=True %}

{% if loan_items %}
<h2 class="h4 mt-5">Itens do empréstimo</h2>
<table class="table">
  <tr>
    <th>Item</th>
    <th>Quantidade</th>
    <th>Status</th>
    <th style="text-align: right;"><span>Ações</span></th>
  </tr>
  {% for loan_item in loan_items %}
  <tr>
    <td><a href="{{ loan_item.good.get_absolute_url }}">{{ loan_item }}</a></td>
    <td>{{ loan_item.quantity }}</td>
    <td><span class="badge
                 {% if loan_item.returned %}
                 text-bg-success
                 {% else %}
                 text-bg-warning
                 {% endif %}
                 ">
        {{ loan_item.get_status }}
      </span>
    </td>
    <td>{% include 'action_buttons.html' with object=loan_item %}</td>
  </tr>
  {% endfor %}
</table>
{% else %}
<em class="opacity-75">Não há itens neste empréstimo.</em>
{% endif %}
{% endblock details %}
