{% extends "dashboard.html" %}

{% block title %}Empréstimos - Estoque CTI{% endblock %}

{% block dashboard_content %}

  <h2>Empréstimos</h2>

  <table class="table">
    <tr>
      <th>Good</th>
      <th>Quantity</th>
      <th>Claimant</th>
      <th>Loan date</th>
      <th>Return date</th>
    </tr>
    {% for loan in loans %}
    <tr>
      <td>{{ loan.good }}</td>
      <td>{{ loan.quantity }}</td>
      <td>{{ loan.claimant }}</td>
      <td>{{ loan.loan_date }}</td>
      <td>{{ loan.return_date }}</td>
    </tr>
    {% endfor %}
  </table>

{% endblock %}
