{% extends "list.html" %}

{% block dashboard_title %}Empréstimos{% endblock %}
{% block create_button_url %}{% url 'new_loan' %}{% endblock %}

{% block dashboard_content %}
  <table class="table">
    <tr>
      <th>Good</th>
      <th>Quantity</th>
      <th>Claimant</th>
      <th>Loan date</th>
      <th>Return date</th>
    </tr>
    {% for loan in loans %}
    <tr>
      <td>{{ loan.good }}</td>
      <td>{{ loan.quantity }}</td>
      <td>{{ loan.claimant }}</td>
      <td>{{ loan.loan_date }}</td>
      <td>{{ loan.return_date }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
