{% extends "base.html" %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<main class="container mt-5">
  <h2>Entrar</h2>
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Senha</label>
      <input type="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
    <a class="btn btn-primary" a href="{% url 'signup' %}">Criar conta</a>
    <a class="btn btn-primary" a href="{% url 'password_recovery' %}">Esqueci minha senha</a>
    </div>
  </form>
</main>
{% endblock content %}
