{% extends "base.html" %}
{% load static %}

{% block title %}Esqueci minha senha - Estoque CTI{% endblock %}

{% block content %}
  <main class="container mt-5">
    <h2>Esqueci minha senha</h2>
    <form>
      <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email">
      </div>
        <button type="submit" class="btn btn-primary">Enviar email de recuperação</button>
        <a class="btn btn-primary" a href="{% url 'login' %}">Entrar</a>
      </div>
    </form>
  </main>
{% endblock %}
