{% extends "list.html" %}

{% block title %}Fornecedores{% endblock %}
{% block h1 %}Fornecedores{% endblock %}
{% block create_button_url %}{% url 'new-supplier' %}{% endblock %}

{% block table_content %}
  <tr>
    <th>Nome</th>
    <th style="text-align: right;"><span >Ações</span></th>
  </tr>
  {% for supplier in suppliers %}
  <tr>
    <td><a href="{{ supplier.get_absolute_url }}">{{ supplier.name }}</a></td>
    <td>{% include 'action_buttons.html' with object=supplier %}</td>
  </tr>
  {% endfor %}
{% endblock table_content %}
